.about{
    animation-duration: 3s;
    ul{
        padding: 0;
        li{
            padding: 5px 0;
            list-style: none;
            border-bottom: 1px solid rgba(255,255,255,0.5);
        }
    }
}