.intro{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    .nom{
        font-size:30px;
    }
    h1{
        z-index: 2;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 700;
        .dev{
            color: $jaune !important;
        }
    }
}
canvas{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url('../img/intro.png') center  no-repeat;
    background-size: cover;
    left:0;
    top:0;
    z-index:-1;
}