// Fond
.clair{
    background-color: #2e2e2e;
}
.fonce{
    background-color: #232323;
}

.bg-secondary{
    background-color: #757575 !important;
}


// Couleur
$jaune : #ffb32f;

$bleu : #1e283c;

.jaune{
    background: #ffb32f;
}
.text-bleu{
    color:#1e283c;
}



.btn{
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.btn:hover{
    background-color: #1e283c;
}

.progress{
    background-color:#5d5d5d;
    border-radius: initial;
    height: 1.45rem;
}
.form-control{
    border-radius: initial;
    border: initial;
    border-bottom: 1px solid  rgba(255,255,255,0.5);
}

// espace
.pt-6{
    padding-top:50px;
}

//Style
h2{
    text-transform: uppercase;
    .line-titre{
        text-transform: initial;
        position:relative;
        font-size:20px;
        color: $jaune;
        padding: 0 50px !important;
    }
    .line-titre::before{
        content: "";
        position: absolute;
        width: 35px;
        height: 3px;
        top:50%;
        left:0;
        background-color: $jaune !important;
    }
    .line-titre::after{
        content: "";
        position: absolute;
        width: 35px;
        height: 3px;
        top:50%;
        right:0;
        background-color: $jaune !important;
    }
}
body{
    color: #e1e1e1 !important;
}
